*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --bk-side-color:rgba(244,93,9 , 0.822);
    --title-side-color:rgba(243, 247, 6);
    --title-side-bk-smoth:rgba(224,93,6, 0.918);
    --text-itens-site: 'Poppins', sans-serif;
    --cursive-text:'Dancing Script', cursive;
    --color-text-itens-site:rgb(170,170,170);
    --color-text-hover:rgb(170,170,170);
    --titulo-color:rgba(71,32,32,0.897);
}